@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
    --text-main: hsl(215, 51%, 70%);
    --text-accent: hsl(178, 100%, 50%);
    --text-links: hsl(0, 0%, 100%);

    --overlay-accent: rgba(0, 255, 247, 0.5);

    --bg-main: hsl(217, 54%, 11%);
    --bg-card: hsl(216, 50%, 16%);
    --bg-line: hsl(215, 32%, 27%);
}

body {
    font-family: "outfit", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    color: var(--text-main);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.wrapper {
    background-color: var(--bg-main);
    height: 900px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--bg-card);
    border-radius: 1.5rem;
    width: 35rem;
    padding: 2.4rem 2.4rem 0 2.4rem;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}

.img-container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.main-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    margin-bottom: 2.4rem;
}

.overlay {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--overlay-accent);
    border-radius: 0.8rem;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
}
.overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-container:active .overlay {
    opacity: 1;
}

.heading {
    color: var(--text-links);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
}
.heading:active {
    color: var(--text-accent);
}

.text {
    font-weight: 300;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-bottom: 2.4rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid var(--bg-line);
}

.stats-left {
    display: flex;
    align-items: center;
}
.ethereum {
    height: 18px;
    width: 11px;
    margin-right: 6.48px;
}
.stats-left p {
    color: var(--text-accent);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2rem;
}

.stats-right {
    display: flex;
    align-items: center;
}
.clock {
    height: 16px;
    width: 16px;
    margin-right: 6.48px;
}
.stats-right p {
    line-height: 2rem;
}

.creator-container {
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    line-height: 2rem;
}
.creator-img {
    height: 33px;
    width: 33px;
    border: 1px solid var(--text-links);
    border-radius: 50%;
    margin-right: 1.6rem;
}
.creator-container span {
    color: var(--text-links);
}

.creator-container span:active {
    color: var(--text-accent);
}

@media screen and (max-width: 480px) {
    .wrapper {
        height: 667px;
        width: 375px;
    }

    .card {
        width: 32.7rem;
        padding: 2.4rem 2.5rem 0 2.4rem;
    }

    .heading {
        margin-bottom: 1.2rem;
    }

    .text {
        margin-bottom: 1.6rem;
    }

    .stats-container {
        padding-bottom: 1.6rem;
    }

    .stats-left p {
        line-height: 1.9rem;
    }

    .stats-right p {
        line-height: 1.9rem;
    }

    .creator-container {
        font-size: 1.5rem;
        line-height: 1.9rem;
        margin-bottom: 2.4rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
